*{
  box-sizing: border-box;
}
body{
  margin: 0;
}
h1, h2, h3, h4, h5, h6{
  font-family:'Montserrat', sans-serif;
}
.container{
  margin: 0 auto;
}
h1{
  font-size: 68px;
}
h2{
  font-size: 40px;
}
h3{
  font-size: 32px;
}
h4{
  font-size: 24px;
}
h5{
  font-size: 16px;
}
h6{
  font-size: 16px;
}
